body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-content{
  padding-top: 20px !important;
}

.loading-background {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
  z-index: 1;
}

.loading-spinner {
  position: relative;
  top: calc(50% - 25px);
  left: calc(50% + 25px);
}

.loading-block {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
  min-height: 100px;
  z-index: 1;
}

.loading-block-spinner {
  position: relative;
  top: calc(50% + -10px) !important;
  left: calc(50% + 10px) !important;
}

.fix-height-357 {
  height: 357px;
}

.no-background {
  background-color: transparent;
}

.transparent {
  opacity: 0.7;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.legend-info {
  position: absolute;
  left: 2rem;
  top: 2rem;
  background-color: #fff;
  padding: .5rem .8rem;
  border: 2px #555 solid;
}

.map-pie-chart {
  width: 100px;
  height: 80px;
}

.map-pie-chart .amcharts-main-div a {
  display: none !important;
}

.m-content {
  margin-bottom: 25px;
}

.m-widget5__item.detail-listing {
  padding-bottom: 30px;
}

.text-align-center{
  text-align: center !important;
}

.text-align-right{
  text-align: right !important;
}

.total-reviews{
  font-size: 10px;
  font-style: italic;
  color: #bab8b8;
  float:right;
}

a { color: inherit; } 

.good{
  color : #0865fb !important;
}

.average{
  color : #505050 !important;
}

.bad{
  color : #f87676 !important;
}

.rating, .rating span{
  height: 30px !important;
  
}
.fa-star, .fa-star-o{
  line-height: 29px !important;
  font-size: 1.5em;
}
.fa-star{
  color: rgba(202, 202, 117, 0.788) !important;
}

.clear-both{
  clear: both !important;
}

.page-content-white .page-title {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.search-bar {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
}
.margin-top-23{
  margin-top: 23px !important;
}

.highlight{
  background-color: #f8ddfb  !important;
}
.row-highlight
{
  background-color: #f8ddfb  !important;
  color: red;
}

.like-box{
  color : rgba(202, 202, 117, 0.788) !important;
  font-weight: bold !important;
  opacity: 1 !important;
}

.display-none{
  display: none !important;
}

.page-title small{
  font-style: italic;
  color: gray !important;
  font-size: 12px;
}

.mt-comment-level{
  color: orange !important;
  font-size: 14px;
  clear:both;
}